---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: ceph-cluster
  namespace: rook-ceph
spec:
  interval: 10m
  chart:
    spec:
      chart: rook-ceph-cluster
      version: 'v1.18.8'
      sourceRef:
        kind: HelmRepository
        name: rook-repo
        namespace: flux
      interval: 10m
  values:
    operatorNamespace: rook-ceph
    clusterName: rook-ceph
    cephClusterSpec:
      network:
        provider: host    
      crashCollector:
        disable: true
      mon:
        count: 1
        allowMultiplePerNode: true
      mgr:
        count: 1
      resources:
        mgr:
          limits:
            memory: "1Gi"
          requests:
            cpu: "50m"
            memory: "50Mi"
        mon:
          limits:
            memory: "2Gi"
          requests:
            cpu: "10m"
            memory: "50Mi"
        osd:
          limits:
            memory: "4Gi"
          requests:
            cpu: "10m"
            memory: "50Mi"      
      storage:
        useAllNodes: false
        useAllDevices: false
        nodes:
        - name: old-acer
          devices:
          - name: /dev/sda4
        - name: new-acer
          devices:
          - name: /dev/sda4
        - name: yo1
          devices:
          - name: /dev/nvme0n1p7
          - name: /dev/sda
    cephBlockPools:
      - name: ceph-blockpool
        spec:
          failureDomain: osd
          replicated:
            size: 2
        storageClass:
          enabled: true
          name: ceph-block
          annotations: {}
          labels: {}
          isDefault: true
          reclaimPolicy: Delete
          allowVolumeExpansion: true
          volumeBindingMode: "Immediate"
          mountOptions: []
          allowedTopologies: []
          parameters:    
            imageFormat: "2"
            imageFeatures: layering
            csi.storage.k8s.io/provisioner-secret-name: rook-csi-rbd-provisioner
            csi.storage.k8s.io/provisioner-secret-namespace: "{{ .Release.Namespace }}"
            csi.storage.k8s.io/controller-expand-secret-name: rook-csi-rbd-provisioner
            csi.storage.k8s.io/controller-expand-secret-namespace: "{{ .Release.Namespace }}"
            csi.storage.k8s.io/controller-publish-secret-name: rook-csi-rbd-provisioner
            csi.storage.k8s.io/controller-publish-secret-namespace: "{{ .Release.Namespace }}"
            csi.storage.k8s.io/node-stage-secret-name: rook-csi-rbd-node
            csi.storage.k8s.io/node-stage-secret-namespace: "{{ .Release.Namespace }}"
            csi.storage.k8s.io/fstype: ext4
          
